@media only screen and (max-width:768px) {
    * {
        overflow: hidden;
    }
    
    a {
        overflow: visible;
    }
    
    #stick-nav {
        display: none;
    }
    #monster {
        width: 80%!important;
    }
    #main-logo {
        width: 80%!important;
    }
    .cursor--canvas{
        display: none;
    }
    /* Typography */
    .main-text-contain{
        width: 100%!important;
    }
    .body-text{
        margin-top: 30px;
        font-size: 22px!important;
    }
    .huge-y-title{
        font-size: 82px;
    }
    .large-y-title, .large-b-title{
        font-size: 52px;
    }
    .title-text{
        font-size: 42px;
    }
}


@media only screen and (min-width:768px) {
    /* Courser START*/
    body,a {
        cursor: none;
    }
    .cursor {
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    .cursor--small {
        width: 5px;
        height: 5px;
        left: -2.5px;
        top: -2.5px;
        border-radius: 50%;
        z-index: 11000;
        background: #000;
    }
    .cursor--canvas {
        width: 100vw;
        height: 100vh;
        z-index: 12000;
    }
    /* Courser END*/
    #main-logo{
        width: 400px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .after-nav{
        padding-top: 80px;
    }
}


::-moz-selection {
    color: #fc0;
    background: #000;
}

::selection {
    color: #fc0;
    background: #000;
}

body{
    font-family: Quicksand, sans-serif;
}

#monster{
    z-index: 2;
}

#particles-anim{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}



.full-height{
    height: 100vh;
    text-align: center;
}

a.nav-link.active{
    border-bottom: 3px solid #fc0;
}

#stick-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Typography */
.main-text-contain{
    width: 980px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}
.body-text{
    font-size: 24px;
    line-height: 1.6em;
    margin-top: 40px!important;
}
.huge-y-title{
    color: #fc0;
    font-weight: 500;
    line-height: 1em;
}
.large-y-title{
    color: #fc0;
    font-weight: 500;
    line-height: 1.2em;
}
.large-0-title{
    color: #000;
    font-weight: 500;
    line-height: 1em;
}
.title-text{
    font-size: 42px;
    
    padding-top: 10px!important;
}


/* Slider */
#flipbook{
    width: 75%!important;
    height: 80%!important;
    margin-top: 20px;
}

.page img{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}

#flipbook .shadow{
    box-shadow: 0 0 70px #00000026;
}


/* Tetxt Animation */
.ml7 {
    position: relative;
}
.ml7 .text-wrapper {
position: relative;
display: inline-block;
overflow: hidden;
}

.ml7 .letter {
transform-origin: 0 100%;
display: inline-block;
}


