@media only screen and (max-width:768px) {
    * {
        overflow: hidden;
    }
    
    a {
        overflow: visible;
    }
    
    #stick-nav {
        display: none;
    }
    #monster {
        width: 80%!important;
    }
    #main-logo {
        width: 80%!important;
    }
    .cursor--canvas{
        display: none;
    }
    /* Typography */
    .main-text-contain{
        width: 100%!important;
    }
    .body-text{
        margin-top: 30px;
        font-size: 22px!important;
    }
    .huge-y-title{
        font-size: 82px;
    }
    .large-y-title, .large-b-title{
        font-size: 52px;
    }
    .title-text{
        font-size: 42px;
    }
}


@media only screen and (min-width:768px) {
    /* Courser START*/
    body,a {
        cursor: none;
    }
    .cursor {
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    .cursor--small {
        width: 5px;
        height: 5px;
        left: -2.5px;
        top: -2.5px;
        border-radius: 50%;
        z-index: 11000;
        background: #000;
    }
    .cursor--canvas {
        width: 100vw;
        height: 100vh;
        z-index: 12000;
    }
    /* Courser END*/
    #main-logo{
        width: 400px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .after-nav{
        padding-top: 80px;
    }
}


::-moz-selection {
    color: #fc0;
    background: #000;
}

::selection {
    color: #fc0;
    background: #000;
}

body{
    font-family: Quicksand, sans-serif;
}

.full-height{
    height: 100vh;
    text-align: center;
}

a.nav-link.active{
    border-bottom: 3px solid #fc0;
}

#stick-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Typography */
.main-text-contain{
    width: 980px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}
.body-text{
    font-size: 24px;
    line-height: 1.6em;
}
.huge-y-title{
    color: #fc0;
    font-weight: 500;
    line-height: 1em;
}
.large-y-title{
    color: #fc0;
    font-weight: 500;
    line-height: 1em;
}
.large-0-title{
    color: #000;
    font-weight: 500;
    line-height: 1em;
}
.title-text{
    font-size: 42px;
    
    padding-top: 10px!important;
}


/* Slider */
.gallery {
    width: 100%;
}

.gallery-item{
    width: 100%;
    background: #fff;
}

.gallery-container {
align-items: center;
display: flex;
height: 400px;
margin: 0 auto;
max-width: 1000px;
position: relative;
}

.gallery-item {
height: 150px;
opacity: 0;
position: absolute;
transition: all 0.3s ease-in-out;
width: 150px;
z-index: 0;
}

.gallery-item-1 {
left: 15%;
opacity: .4;
transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
height: 200px;
opacity: 1;
width: 200px;
z-index: 1;
}

.gallery-item-2 {
left: 30%;
transform: translateX(-50%);
}

.gallery-item-3 {
box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
height: 300px;
opacity: 1;
left: 50%;
transform: translateX(-50%);
width: 300px;
z-index: 2;
}

.gallery-item-4 {
left: 70%;
transform: translateX(-50%);
}

.gallery-item-5 {
left: 85%;
opacity: .4;
transform: translateX(-50%);
}

.gallery-controls {
display: flex;
justify-content: center;
margin: 30px 0;
}

.gallery-controls button {
background-color: transparent;
border: 0;
cursor: pointer;
font-size: 16px;
margin: 0 20px;
padding: 0 12px;
text-transform: capitalize;
}

.gallery-controls button:focus {
outline: none;
}

.gallery-controls-previous {
position: relative;
}

.gallery-controls-previous::before {
border: solid #000;
border-width: 0 2px 2px 0;
content: '';
display: inline-block;
height: 4px;
left: -10px;
padding: 2px;
position: absolute;
top: 25%;
transform: rotate(135deg) translateY(-50%);
transition: left 0.15s ease-in-out;
width: 4px;
}

.gallery-controls-previous:hover::before {
left: -18px;
}

.gallery-controls-next {
position: relative;
}

.gallery-controls-next::before {
border: solid #000;
border-width: 0 2px 2px 0;
content: '';
display: inline-block;
height: 4px;
padding: 2px;
position: absolute;
right: -10px;
top: 50%;
transform: rotate(-45deg) translateY(-50%);
transition: right 0.15s ease-in-out;
width: 4px;
}

.gallery-controls-next:hover::before {
right: -18px;
}

.gallery-nav {
bottom: -15px;
display: flex;
justify-content: center;
list-style: none;
padding: 0;
position: absolute;
width: 100%;
}

.gallery-nav li {
background: #ccc;
border-radius: 50%;
height: 10px;
margin: 0 16px;
width: 10px;
}

.gallery-nav li.gallery-item-selected {
background: #555;
}



